

#liquid-dl-body {
  font-family: Arial;
}

#liquid-dl-body {
  margin: 10px;
  white-space: nowrap;
  min-width: 150px
}

#liquid-dl-body  h1 {
  font-size: 15px;
}

.siimple-alert {
  display: block;
  font-weight: 900;
  font-size: 1rem
  width: calc(100% - 30px);
  font-family: Montserrat, sans-serif;
  color: #57607c;
  line-height: 20px;
  border-radius: 5px;
  background-color: #ebf2fa;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px
}

.siimple-alert--error {
  background-color: #ff1a4f!important;
  color: #fff!important
}

.siimple-alert--done {
  background-color: #1add9f!important;
  color: #fff!important
}

.siimple-alert--info {
  background-color: #4894f0!important;
  color: #fff!important
}

#liq-message-prompt {
  text-align: center;
}

#notification-counter {
  background-color: #ff7772;
  color: white;
  padding: 5px;
  border-radius: 75%;
  margin-left: 40%;
  float: right;
}
